%h1 
  CLI 
  %small (command line interface)

%p 
  Простой поиск по запчастям прямо из коммандной строки, используеться утилита 
  %b Curl.
%img{:src => "/img/cli.png"}

%h2 Установка в один клик
%h3 Linux

%p #!/bin/bash
%pre 
  %code 
    $ echo "function rm35() { curl http://xn--35-6kcatht6arqhkn.xn--p1ai/api/text_search/\$@ ;}" >> ~/.bashrc && source ~/.bashrc
%p
%p #!/bin/zsh
%pre 
  %code 
    $ echo "function rm35() { curl http://xn--35-6kcatht6arqhkn.xn--p1ai/api/text_search/\$@ ;}" >> ~/.zshrc && source ~/.zshrc
%h3 OSX
%p #!/bin/bash
%pre 
  %code 
    $ echo "function rm35() { curl http://xn--35-6kcatht6arqhkn.xn--p1ai/api/text_search/\$@ ;}" >> ~/.bash_profile && source ~/.bash_profile
%p    
%p #!/bin/zsh
%pre 
  %code 
    $ echo "function rm35() { curl http://xn--35-6kcatht6arqhkn.xn--p1ai/api/text_search/\$@ ;}" >> ~/.zshrc && source ~/.zshrc
%h3 Windows
%p А оно надо?